h1 {
  /* Change the size of your font to 60 pixels high. */
  font-size: 22px;
  /* This will color the heading font white. */
  color: white;
  /* Align the text to the center of its enclosing element (e.g. div). */
  text-align: left;
  /* Underline the text. */
  font-weight: bold;
  /* The background of the heading element will now be black. */
  background-color: rgb(4, 167, 167);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  /* Change the size of your font to 60 pixels high. */
  font-size: 24px;
  /* This will color the heading font white. */
  color: rgb(4, 167, 167);
  /* Align the text to the center of its enclosing element (e.g. div). */
  text-align: left;
  /* Underline the text. */
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
  /* Change the size of your font to 60 pixels high. */
  font-size: 16px;
  /* This will color the heading font white. */
  color: rgb(4, 167, 167);
  /* Align the text to the center of its enclosing element (e.g. div). */
  text-align: center;
  /* Underline the text. */
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    /* This will color the heading font white. */
    color: gray;
    /* Align the text to the center of its enclosing element (e.g. div). */
    text-align: left;
}

body {
  width: 100%;
  min-height:100%;
  background-color:rgb(231, 231, 231);
}

img {
  max-width: 100%;
}

.table{
  text-align:center;
  background-color: white;
  z-index:1;
}

.home{
  background-color: white;
  z-index:2;
}

.home a{
  width: 110px;
  background: lightseagreen;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  padding: 14px;
  margin: 0px 0px 0px 40px;
}

.navbar{
  position: absolute;
  right: 25px;
}

.navbar a{
background-color:rgb(231, 231, 231);
}

.divbdy{
  background-color: white;
}

.divbtm {
  width:100%;
  /* position:absolute; */
  bottom:0;
  background-color: rgb(4, 167, 167);
  z-index:0;
  font-size: 12px;
  color: white;
  text-align: center;
  padding: 5px;
  margin: 0px;
}
